body {
	font-family: 'Roboto', sans-serif;
	overflow-y: hidden;
	background-color: aliceblue;
	max-height: 90vh;
}

#tweets {
	max-height: 500px;
	max-width: 500px;
	overflow-y: scroll;
	padding: 10px;
}


#tweets::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#tweets::-webkit-scrollbar
{
	width: 9px;
	background-color: #F5F5F5;
}

#tweets::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: #7fa5d0;
}

@keyframes tweet-waterfall {
	0% {
		background: #7fa5d0;
		max-height: 0;
		color: transparent;
		padding: 0 16px;
		margin: 0px 5px;
	}
	100% {
		background: white;
		max-height: 50px;
		color: black;
		padding: 0 16px 16px 16px;
		margin: 10px 5px;
	}
}

.tweet {
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 50px;
	background: white;
	animation: tweet-waterfall 1s ease-in;
	display: block;
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	border-color: #eee #ddd #bbb;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	margin: 10px 5px;
	padding: 0 16px 16px 16px;
	max-width: 468px;
}

.tweet p {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

.tweet a {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
	outline: 0 none;
}

.tweet a:hover, .tweet a:focus {
	text-decoration: underline;
}

.basic-button {
	background: #00ACEE;
	border-radius: 2px;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #0075a2;
}

.basic-button:link, .basic-button:visited {
	color: #fff;
}

.basic-button:active, .basic-button:hover {
	background: #0075a2;
	color: #fff;
}
