body {
	font-family: 'Roboto', sans-serif;
	overflow-y: hidden;
	background-color: aliceblue;
}

#tweets {
	/* max-height: 500px; */
	overflow: hidden;
	height: 100vh;
	padding: 10px;
}

@keyframes tweet-waterfall {
	0% {background: lightblue; max-height: 0; color: transparent; padding: 0 16px; margin: 0px 5px; }
    100% {background: white; max-height: 39px; color: black; padding: 0 16px 16px 16px; margin: 10px 5px;}
}

.tweet {
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 39px;
	background: white;
	animation: tweet-waterfall 1s ease-in;
	display: block;
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	border-color: #eee #ddd #bbb;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	margin: 10px 5px;
	padding: 0 16px 16px 16px;
	max-width: 468px;
}

.tweet p {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

.tweet a {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
	outline: 0 none;
}

.tweet a:hover, .tweet a:focus {
	text-decoration: underline;
}
